/* -----Font----- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* -----Reset----- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* -----Common----- */
body{
  background-color: #3498db;
  min-height: 100vh;
}

a{
  text-decoration: none;
  margin: 10px;
  transition: all 0.3s ease-in;
}

ul{
  list-style-type: none;
}

/* -----Home Page----- */
.home-page{
  position: relative;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./images/back.png);
  background-repeat: no-repeat;
  background-size: 850px;
  background-position: bottom center;
}

.home-page::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3498db;
  opacity: 0.5;
}

.home-page h1{
  font-size: 4rem;
  font-weight: 600;
  position: relative;
  z-index: 2;
  text-align: center;
  animation: anim 2s forwards;
}

.home-page p{
  font-size: 1.2rem;
  max-width: 900px;
  text-align: center;
  position: relative;
  z-index: 2;
  margin: 10px 0;
  animation: anim 2s forwards 2s;
  opacity: 0;
}

/* ---Download Buttons--- */
.download{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
  animation: anim 2s forwards 4s;
  opacity: 0;
}

.download a{
  font-size: 1rem;
  padding: 20px 40px;
}

/* CV Button */
.cv-btn{
  background-color: #ffffff;
  color: #000000;
}

.cv-btn:hover{
  background-color: #000000;
  color: #ffffff;
}

/* Cover Button */
.cover-btn{
  background-color: #000000;
  color: #ffffff;
}

.cover-btn:hover{
  background-color: #ffffff;
  color: #000000;
}

/* ---Social Buttons--- */
.social{
  position: relative;
  z-index: 2;
  animation: anim 2s forwards 6s;
  opacity: 0;
}
.soc-btn{
  font-size: 2rem;
  color: #000000;
}

.soc-btn:hover{
  color: #ffffff;
}

/* ---Loading Animation--- */
@keyframes anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* -----Responsive----- */
@media(max-width: 600px){
  .home-page{
    background-size: 550px;
  }

  .home-page h1{
    font-size: 3rem;
  }

  .home-page p{
    font-size: 1rem;
  }

  .download{
    flex-direction: column;
  }

  .download a{
    font-size: 0.9rem;
  }
}